@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.container{
  display: flex;
}

.main-editor{
  width:60vw;
  height:80vh;
  background-color: black;
  border-radius: 10px;
  color: white;
}
.main-editor-output{
  width:30vw;
  margin-left:40px;
  height:80vh;
  background-color: black;
  border-radius: 10px;
  color: white;
}

.editor-form-output{
  width: 30vw;
  height:80vh;
  resize: none;
  border-radius: 10px;
  outline: none;
  font-family: 'Nunito', sans-serif;
  font-size:20px;
  display: hidden;
  color: white;
  background-color: rgba(0, 0, 0, 0);
   border-color: rgba(0, 0, 0, 0)
}



.editor-form{
  width: 90vw;
  height:80vh;
  resize: none;
  border-radius: 10px;
  outline: none;
  font-family: 'Nunito', sans-serif;
  font-size:20px;
  display: hidden;
  color: white;
  background-color: rgba(0, 0, 0, 0);
   border-color: rgba(0, 0, 0, 0)
}

.editor-execute{
   background-color: lightgreen;
   height:50px;
   width:200px;
   font-weight: bold;
   font-family: 'Nunito', sans-serif;
   font-size: 18px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   margin-top:20px;
   border-radius: 10px;
}

